<section class="social">
    <article>
        <div class="g-plusone" data-size="medium" data-href="{{appPath}}{{urlAmigable}}"></div>                
    </article>
    <article>
        <div class="fb-like" data-href="{{appPath}}{{urlAmigable}}" data-send="false" data-layout="button_count" data-show-faces="false" data-font="arial"></div>
    </article>
    <article>
        <a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="{{values.LANGUAGE}}" data-size="medium" data-count="none" data-url="{{appPath}}{{urlAmigable}}">{{values.LABELS.comparteEnTwitter}}</a>
    </article>
</section> 