<div class="contenedorNoticia">
    {% set contenido = values.contenidoDesarrollado.contenido %}    
    
    {% if contenido.ShowPublishedAt.IDTipo == '1' %}
        <span class="fecha width100">
            Publicado: {{contenido.PublishedAt | date("d/m/Y")}}
            {#
            <span class="comentarios">
                <a href="" title="20 {{values.LABELS.comentarios}}">20</a>
            </span>
            #}
        </span>
    {% endif %}

    {% if (contenido.MostrarTituloContenido.IDTipo and contenido.Titulo) %}
        <h1>{{contenido.Titulo}}</h1>
    {% endif %}

    {% if (contenido.MostrarSubtituloContenido.IDTipo and contenido.Subtitulo) %}
        <h2>{{contenido.Subtitulo}}</h2>
    {% endif %}

    {% if (contenido.MostrarResumenContenido.IDTipo and contenido.Resumen) %}
        <h3>{{contenido.Resumen}}</h3>
    {% endif %}

    {% if contenido.Desarrollo %}
	<p>{% autoescape false%}{{contenido.Desarrollo}}{% endautoescape%}</p>
    {% endif %}

    {% if contenido.videoYoutube.video!="" %}
    <div class="videos_youtube">
        <iframe width="{{contenido.videoYoutube.ancho}}" height="{{contenido.videoYoutube.alto}}" src="http://www.youtube.com/embed/{{contenido.videoYoutube.video}}" frameborder="{{contenido.videoYoutube.anchoBorde}}"></iframe>
    </div>
    {% endif %}
      
</div>