{% extends layout %}

{% block menuCabecera %}{% endblock %} 

{% block contenido %}
<nav> 
    <ul id="navCabecera">
        <li>
            <a href="{{app.path}}/" title="{{values.LABELS.inicio}}">
                <img src="{{app.path}}/images/home.png" alt="{{values.LABELS.inicio}}" title="{{values.LABELS.inicio}}">
            </a>
        </li>         
    </ul>
</nav>

<section id="zonaPrivada">
    {#
    <article class="colIz">
        <h2 class="superTitular naranja">{{values.TEXTS.registrate}}</h2>
        <span class="naranja">{{values.TEXTS.registroTexto1}}</span>
        <p class="info">{{values.TEXTS.registroTexto2}}</p>
        <a href="{{app.path}}/registro" title="{{values.TEXTS.registrarme}}" class="botonNaranja right">{{values.TEXTS.registrarme}}</a>
    </article>
    #}

    <article class="colDrcha">
        <h2 class="superTitular rojo">{{values.TEXTS.accesoPrivado}}</h2>
        {% include 'ZonaPrivada/mensajes.html.twig' %} {# ESTOS SON LOS MENSAJES DE RESPUESTA DEL FORMULARIO #}                                 
        {% include 'ZonaPrivada/login.html.twig' %} {# ESTE ES EL FORMULARIO DE ACCESO A ZONA PRIVADA #}
    </article>     
</section>
{% endblock %}

