{% extends layout %}

{% block navegacion %}{% include '_global/navegacionGeneral.html.twig' %}{% endblock %}

{% block aside %}{% include '_global/asideGeneralyHome.html.twig' %}{% endblock %}

{% block contenido %}

<section class="contenedorGrande">
    <h1>{{values.LABELS.asociaciones}}</h1>
    <section id="asociaciones">
        <article id="listado" class="left">
            <ul>
                <li><a href="{{app.path}}/quienes-somos">{{values.TEXTS.quienesSomos}}</a></li>
                <li><a href="{{app.path}}/historia">{{values.TEXTS.historia}}</a></li>
                <li><a href="{{app.path}}/nuestros-objetivos">{{values.TEXTS.nuestrosObjetivos}}</a></li>
                <li><a href="{{app.path}}/organizacion-y-estructura">{{values.TEXTS.organizacionYEstructura}}</a></li>
                <li><a href="{{app.path}}/asociate">{{values.TEXTS.asociate}}</a></li>
            </ul>
            <img src="{{app.path}}/images/bn-aaie.png" alt="{{values.LABELS.asociaciones}}">
            <img src="{{app.path}}/images/bn-aig.png" alt="{{values.LABELS.asociaciones}}">
        </article>

        <article class="right">
            <img src="{{app.path}}/images/asociaciones.jpg" alt="{{values.LABELS.asociaciones}}">
        </article>
    </section>
</section>   
{% endblock %}

