{% extends layout %}

{% block navegacion %}{% include '_global/navegacionGeneral.html.twig' %}{% endblock %}

{% block aside %}{% include '_global/asideGeneralyHome.html.twig' %}{% endblock %}

{% block contenido %}

<section class="contenedorGrande">
    <h1>{{values.LABELS.asociaciones}}</h1>
    <section id="asociaciones">
        <article id="listado" class="left">
            <ul>
                {% for item in values.contenidos.contenidos %}
                    <li><a href="{{item.Href.url}}">{{item.Titulo}}</a></li>
                {% endfor %}
            </ul>
            <img src="{{app.path}}/images/bn-aaie.png" alt="{{values.LABELS.asociaciones}}">
            <img src="{{app.path}}/images/bn-aig.png" alt="{{values.LABELS.asociaciones}}">
        </article>

        <article class="right">
            <img src="{{app.path}}/images/asociaciones.jpg" alt="{{values.LABELS.asociaciones}}">
        </article>
    </section>
</section>   
{% endblock %}

