{% extends layout %}

{% block navegacion %}{% include '_global/navegacionGeneral.html.twig' %}{% endblock %}

{% block contenido %}

<section class="contenedorGrande">
    {% include '_global/ruta.html.twig' %}
    <h1 class="baseColor">{{values.formacionYJornadas.titulo}}</h1>

    <p class="infoSeccion">{{values.formacionYJornadas.introduccion}}</p>

    <div id="tabs">
        <ul>
            {% for key,subseccion in values.formacionYJornadas.subsecciones %}
                <li><a href="#tabs-{{key}}">{{subseccion.titulo}}</a></li>
            {% endfor %}
        </ul>
        {% for key,subseccion in values.formacionYJornadas.subsecciones %}
        <div id="tabs-{{key}}">

            <section>
            {% for contenido in subseccion.contenidos.contenidos%}
                {% set urlContenido = contenido.Href.url %}
                <article>
                    <a href="{{urlContenido}}"><img src="{{app.path}}/{{contenido.getPathNameImagenN(2)}}" alt="{{contenido.Titulo}}"></a>
                    <div class="descripcion">
                        <h2><a href="{{urlContenido}}">{{macro.recortaTexto(contenido.Titulo,25)}}</a></h2>
                        <h3>{{macro.recortaTexto(contenido.Subtitulo,38)}}</h3>
                    </div>

                    <div class="curso">
                        <span>{{contenido.getMetadata('Horas_Curso')}}</span>
                        <a href="{{urlContenido}}" class="right">{{values.LABELS.masInfo}}</a>
                    </div>
                </article>
             {% endfor %}
            </section>
            
            {% if subseccion.contenidos.paginacion.totalPaginas > 1 %}
            <article class="botonera">
                <a href="{{subseccion.url.url}}" title="{{values.LABELS.mas}} {{subseccion.titulo}}" class="sprite">{{values.LABELS.mas}} {{subseccion.titulo}}</a>
            </article>
            {% endif %}
            
        </div>
        {% endfor %}
                  
    </div>
   
</section>   
{% endblock %}

{% block bannerPie %}
    {% include '_global/bannerPie.html.twig' %}   
{% endblock %}
